<% items.forEach(function (d) { %>
<div class="item">
    <img src="<%- d.imageURI %>" alt="" />
    <div class="info">
	    <p class="date"><%= moment(d.createdAt).fromNow() %></p>
	    <p class="pseudo"><%- d.pseudo %></p>
	    <p class="tags"><%- d.tags %></p>
	    <p class="comment"><%- d.comment %></p>
    </div>
</div>
<% }); %>
