<% items.forEach(function (d) { %>
<p><%=JSON.stringify(d)%></p>
<div class="item">
	<img src="<%- d.imageURI %>" alt="" />
	<div class="info">
		<div class="head">
			 <p class="pseudo"><span>By </span><%- d._created_by %>&nbsp;</p>
			<p class="date"><span>-</span>&nbsp;<%= moment(d.createdAt).fromNow() %></p>
		</div>
		<p class="comment"><%- d.comment %></p>
		<p class="tags">
			<% d.tags.forEach(function (t) { %>
				<a href="#" class="itms" title="<%- t %>"><%- t %></a>
			<% }); %>
		</p>
		<!-- <a id="like" href="#">Like</a>
		<p class="likeCount"><%- d.likes %></p> -->
	</div>
</div>
<% }); %>
